<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Mini Map</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var Ames = {lat: -42.0308, lng: 93.6319};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: Ames
        });
        var marker = new google.maps.Marker({
          position: Ames,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNtLj7PjM_YoBg6k7ioydVV9EwEc6m8oA&callback=initMap">
    </script>
  </body>
</html>

