<!DOCTYPE html>
<html>
  <body>
    <div id="map"></div>
    <link rel=stylesheet type="text/css" href="/css/GoogleMiniMap.css">
    <script type="text/javascript" src="/js/GoogleMiniMap.js"></script>
    <script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNtLj7PjM_YoBg6k7ioydVV9EwEc6m8oA&callback=initMap">
    </script>
  </body>
</html>

